/* Header*/

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	min-height: 75px;	
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
	border-bottom: 5px solid #AACE9B;
	background-color: #EDEDED;
	font-family: 'Poppins', sans-serif;
}

header h2 {
	border: none;
	font-size: 40px;
	font-weight: 700;
	padding-left: 17px;
	color: #373867;
}

header img {
	min-width: 45px;
	width: 5vh;
}

header a {
	text-decoration: none;
}

/* Media queries */

@media only screen and (max-width: 480px) {
	header h2 {
		font-size: 30px;
	}	
}
