<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="jdemegliosch@gmail.com">
		<title>Welcome to Trackgenix!</title>

		<!-- CSS style sheets-->
		<link rel="stylesheet" type="text/css" href="../styles/reset.css">
		<!--
		<link rel="stylesheet" type="text/css" href="../styles/fonts.css">
		-->
		<link rel="stylesheet" type="text/css" href="../styles/header.css">
		<link rel="stylesheet" type="text/css" href="../styles/footer.css">
		<link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
		<link rel="stylesheet" type="text/css" href="../styles/login.css">
		<!-- -->

		<!-- JS files-->
		<script src="../javascript/login.js"></script>
		<!-- -->

		<!-- Fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<!-- -->
	</head>

	<body>

		<!-- Sidebar-->
		<aside>
			<input type="text" name="search" placeholder="Search">
			<p id="st-01" class="sidebar-title">Menu</p>
			<nav>
				<ul>
					<li class="li-01"><a href="../views/index.html">Home</a></li>
					<li class="li-01"><a href="../views/sign-up.html">Sign Up</a></li>
					<li class="li-01"><a href="../views/login.html">Log In</a></li>
				</ul>
			</nav>
			<p id="st-02" class="sidebar-title">Get in touch</p>
			<p>
				Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, 
				ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. 
				Sed nulla amet lorem feugiat tempus aliquam
			</p>
			<ul id="contact-info">
				<li class="li-02">
					<div>
						<a href="#">
							<img src="../assets/Mail-01.png" alt="Mail-01">
						</a>
					</div>
					<div>
						<p>information</p>
						<p>@trackgenix.tld</p>
					</div>
				</li>
				<li class="li-02">
					<div>
						<a href="#">
							<img src="../assets/Phone-01.png" alt="Phone-01">
						</a>
					</div>
					<div>
						<p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
					</div>
				</li>
				<li class="li-03">	
					<div>
						<a href="#">
							<img src="../assets/Adress-01.png" alt="Address-01">
						</a>
					</div>
					<div>
						<p>(000) 000-0000</p>
					</div>
				</li>
			</ul>
		</aside>
		<!-- -->

		<div id="main-flex">

			<!-- Header-->
			<header>
				<div>
					<img src="../assets/Hamburger-icon.png" alt="Hamburger-icon">
				</div>
				<h2>Trackgenix SA</h2>
			</header>
			<!-- -->

			<!-- Body-->
			<main>
                <section>
                    <h1>Sign In</h1>
                    <form id="login-form">
                        <div id="email-form">
							<label class="label-form" id="label-email" for="email">Email</label>
							<input class="input-form" type="text" id="email" name="email" placeholder="Employee@trackhenix.com">
						</div>
						<p class="input-msg" id="email-msg">
						</p>
                        <div class="password-form">
							<label class="label-form" id="label-password" for="password">Password</label>
							<input class="input-form" type="password" id="password" name="fpassword" placeholder="********">
						</div>
						<p class="input-msg" id="password-msg1">
						</p>
						<p class="input-msg" id="password-msg2">
						</p>
                    </form>
					<div id="paralel">
						<div>
							<input type="checkbox" name="remember-me">
							<label for="remember-me">Remember me</label>
						</div>
						<a href="#">Forgot password?</a>
					</div>
					<div class="button-container">
						<input id="form-button" type="submit" value="Submit">
					</div>
                </section>


			</main>
			<!-- -->

			<!-- Footer-->
			<footer>
				<p>Rosario, Argentina</p>
					<nav>
						<a href="https://www.linkedin.com">
							<img src="../assets/Linkedin.png" alt="Linkedin icon">
						</a>
						<a href="https://www.instagram.com">
							<img src="../assets/Instagram.png" alt="Instagram icon">
						</a>
						<a href="https://www.facebook.com">
							<img src="../assets/Facebook.png" alt="Facebook icon">
						</a>
						<a href="https://twitter.com">
							<img src="../assets/Twitter.png" alt="Twitter icon">
						</a>
					</nav>
				<p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
			</footer>
		</div>		
	</body>
</html>