/* Element selectors */


body {
    width: 1440px;
    height: 1024px;
}

/* Sidebar element selectors */

aside {
  position: fixed;
  background-color: #FFFFFF;
  width:323px;
  height: 1024px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding-top: 20px;
  padding-right: 53px;
  font-family: Raleway,sans-serif;
  color: #545454;
  background-color: #F6F6F6;
}

aside input[type=text] {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 257px;
  height: 38px;
  box-sizing: border-box;
  border: 2px solid #373867;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-image:url("file:///C:/Users/Julian/Desktop/Curso%20RR/HTML/BaSP-M2022-Etapa-1/Semana-03/images/Search-icon-01.svg");
  background-position: 12px 9px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

/* header element selectors */

header {
  position: fixed;
  width: 1064px;
  height: 156px;
  left: 376px;  
  z-index: 10;
  background-color: #FFFFFF;
}

/* body element selectors*/

main {
  position: absolute;
  left: 376px;
  top: 156px;
  right: 0px ;
  bottom: 0px;
  font-family: Poppins, sans-serif;
}

/* footer element selectors*/

footer {
  position: fixed;
  top: 925px;
  left: 376px;
  right: 0px;
  bottom: 0px;
  height: 138px;
  width: 1064px;
  z-index: 10;
  background-color: #FFFFFF;
  font-family: Roboto,sans-serif;
  color: #545454;
}


/* Other selectors */


/* Sidebar other selectors */

.sidebar-title-01 {
  position: absolute;
  top: 146px;
  left: 45px;
  width: 86px;
  border-bottom: 5px solid #AACE9B;
  padding-bottom: 21px;
  font-size: 24px;
  color: #000000;
}

#sidenav-01 {
  position: absolute;
  top: 240px;
  left: 45px;
  width: 331px;
  height: 142px;
  font-size: 18px;
  line-height: 21px;
}

.li-01-01 {
  left: 0px;
  top: 0px;
  width: 200px;
  height: 25px;
  padding-top: 33px;
  border-bottom: 1px solid #A4A4A4;
}

.li-01-02 {
  left: 0px;
  top: 0px;
  width: 200px;
  height: 25px;
  padding-top: 33px;
  padding-bottom: 73px;
  border-bottom: 1px solid #A4A4A4;
}

.sidebar-title-02 {
  position: absolute;
  top: 517px;
  left: 45px;
  width: 180px;
  border-bottom: 5px solid #AACE9B;
  padding-bottom: 21px;
  font-size: 24px;
  color: #000000;
}

#sidebar-p {
  position: absolute;
  top: 589px;
  left: 34px;
  width: 280px;
  height: 147;
  font-size: 18px;
  line-height: 21px;
}

#sidenav-02 {
  position: absolute;
  width: 331px;
  height: 186px;
  top: 766px;
  left: 45px;
  font-size: 18px;
  line-height: 21px;
}

.li-02-01 {
  left: 34px;
  top: 0px;
  width: 280px;
  padding-left: 11px;
  padding-bottom: 18px;
  padding-top: 22px;
  border-bottom: 1px solid #A4A4A4;
}

.li-02-02 {
  left: 34px;
  top: 0px;
  width: 280px;
  padding-left: 11px;
  padding-top: 22px;
}

.sidenav-02 p {
  width: 221px;
  padding-left: 14px;
}

.block-01 {
 display: inline-block;
}

.block-02 {
 display: inline-block;
}

.block-03 {
 display: inline-block;
}

/* header other selectors */

#hamburger {
  position: relative;
  width: 36px;
  height: 33px;
  top: 40px; 
  left: 33px;
}

.header-title {
  position: relative;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  top: 28px;
  left: 122px;
  bottom: 44px;
  width: 868px;
  height: 37px;
  line-height: 35px;
  padding-bottom: 23px;
  border-bottom: 3px solid #AACE9B;
}

/* body other selectors */

/* Body section-01 */

#welcome h1 {
  position: absolute;
  width: 413px;
  height: 236px;
  left: 15px;
  top: 10px;
  font-size: 64px;
  line-height: 96px;
  font-weight: 700;

}

#welcome img {
  position: absolute;
  top: 21px;
  right: 21px;
  left: 573px;
}

#welcome  h2 {
  position: absolute;
  width: 426px;
  height: 84px;
  left: 24px;
  top: 289px;
  font-size: 28px;
  font-style: italic;
  line-height: 42px;
}

#welcome p {
  position: absolute;
  width: 557px;
  height: 180px;
  top: 449px;
  left: 16px;
  font-size: 24px;
  line-height: 36px;
}

#welcome button {
  position: absolute;
  width: 144px;
  height: 51px;
  top: 638px;
  left: 16px;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #AACE9B;
  border: 1px solid #373867;
}

/* Body section-02 */

#what-can-you-do h2 {
  position: absolute;
  width: 868px;
  height: 55px;
  top: 693px;
  left: 122px;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 23px;
  border-bottom: 5px solid #AACE9B;
}

#record-hours img {
  position: absolute;
  top: 840px;
  left: 5px;
}

#record-hours h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 840px;
  left: 224px;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
}
#record-hours p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 880px;
  left: 224px;
  font-size: 28px;
  line-height: 42px;
}

#generate-reports img {
  position: absolute;
  top: 840px;
  left: 529px;
}

#generate-reports h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 840px;
  left: 751px;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
}
#generate-reports p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 880px;
  left: 751px;
  font-size: 28px;
  line-height: 42px;
}

#manage-resources img {
  position: absolute;
  top: 1174px;
  left: 5px;
}

#manage-resources h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 1174px;
  left: 224px;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
}
#manage-resources p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 1214px;
  left: 224px;
  font-size: 28px;
  line-height: 42px;
}

#designate-roles img {
  position: absolute;
  top: 1174px;
  left: 529px;
}

#designate-roles h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 1174px;
  left: 751px;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
}
#designate-roles p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 1214px;
  left: 751px;
  font-size: 28px;
  line-height: 42px;
}

/* Body section-03 */

#why-trackgenix h2 {
  position: absolute;
  width: 868px;
  height: 55px;
  top: 1593px;
  left: 122px;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 23px;
  border-bottom: 5px solid #AACE9B;
}

#why-trackgenix ul {
  position: absolute;
  width: 868px;
  height: 55px;
  top: 1740px;
  left: 122px;
  font-size: 28px;
  line-height: 42px;
}

#why-trackgenix li {
  height: 50px;
  padding-bottom: 30px;
}

/* Body section-04 */

#contact-form h2 {
  position: absolute;
  width: 868px;
  height: 55px;
  top: 2063px;
  left: 122px;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 23px;
  border-bottom: 5px solid #AACE9B;
}

#contact-form form {
  position: absolute;
  background-color: #9E9E9E;
  top: 2210px;
  left: 122px;
  height: 516px;
  width: 868px;
  padding-left: 40px;
}

#contact-form label {
  font-size: 14px;
  line-height: 21px;
}

.check {
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-weight: light;
}

#checks {
  position: absolute;
}

/* Body section-05 */

#round-background {
  position: absolute;
  background-color:  #D9E0D6;
  border-radius: 50%;
  height: 604px;
  width: 1054px;
  left: 5px;
  top: 2873px;
}

#round-background h2{
  font-size: 30px;
  line-height: 45px;
  color: #756464;
}

.history-title-01 {
  position: absolute;
  top: 164px;
  left: 240px;
}

.history-title-02 {
  position: absolute;
  top: 209px;
  left: 350px;
}

.objective-title {
  position: absolute;
  top: 401px;
  left: 555px;
}

#round-background p {
  font-size: 10px;
  line-height: 15px;
}

.p-01 {
  position: absolute;
  top: 273px;
  left: 220px;
  width: 300px;
  height: 60px;
}

.p-02 {
  position: absolute;
  top: 460px;
  left: 555px;
  width: 208px;
  height: 60px;
}

.img-bo {
  position: absolute;
  top: 167px;
  left: 520px;
}

#white-line-01 {
  position: absolute;
  width: 4px;
  height: 134px;
  top: 33px;
  left: 527px;
  background-color: #FFFFFF;
}

#white-line-02 {
  position: absolute;
  width: 4px;
  height: 207px;
  bottom: 33px;
  left: 527px;
  background-color: #FFFFFF;
}

.img-ds {
  position: absolute;
  top: 423px;
  left: 302px;
}

.img-ei {
  position: absolute;
  top: 423px;
  left: 427px;
} 

/* Body section-06 */

#products-business-support {
  position: absolute;
  width: 1043px;
  height: 689px;
  left: 15px;
  top: 3477px;
}

#products-business-support h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
  width: 268px;
  border-bottom: 5px solid #AACE9B;
}

#products-business-support ol {
  list-style-type: numbers;
  padding-left: 45px;
}

#products-business-support li {
  font-size: 18px;
  line-height: 27px;
  padding-top: 27px;
}

#products {
  position: absolute;
  width: 342;
  top: 108px;
  left: 0px;
}

#business {
  position: absolute;
  width: 342;
  top: 108px;
  left: 342px;
}

#support {
  position: absolute;
  width: 342;
  top: 108px;
  left: 684px;
}

/* footer other selectors */

.location {
  position: relative;
  bottom: -33px;
  left: 122px;
  height: 19px;
  width: 136px;
  padding-top: 7px;
  padding-left: 289px;
  padding-right: 444px;
  border-top: 3px solid #AACE9B;
}

#footernav {
  position: relative;
  bottom: -43px;
  left: 378px;
  height: 24px;
}

#footernav a{
  padding-right: 28px;
}

#copyright {
  position: relative;
  bottom: -53px;
  left: 295px;
  height: 17px;
}