/* Element selectors */


body {
    width: 1440px;
    height: 1024px;
}

/* Sidebar element selectors */

aside {
  position: fixed;
  width:323px;
  height: 1024px;
  padding-top: 20px;
  padding-right: 53px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #F6F6F6;
  font-family: Raleway,sans-serif;
  color: #545454;
}

aside input[type=text] {
  position: absolute;
  width: 257px;
  height: 38px;
  padding: 12px 20px 12px 40px;
  top: 30px;
  left: 40px;
  box-sizing: border-box;
  border: 2px solid #373867;
  border-radius: 4px;
  background-color: white;
  background-image:url("file:///C:/Users/Julian/Desktop/Curso%20RR/HTML/BaSP-M2022-Etapa-1/Semana-03/images/Search-icon-01.svg");
  background-position: 12px 9px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  font-size: 14px;
}

/* header element selectors */

header {
  position: fixed;
  width: 1064px;
  height: 156px;
  left: 376px;  
  z-index: 10;
  background-color: #FFFFFF;
}

/* body element selectors*/

main {
  position: absolute;
  top: 156px;
  left: 376px;
  right: 0px ;
  bottom: 0px;
  font-family: Poppins, sans-serif;
}

/* footer element selectors*/

footer {
  position: fixed;
  width: 1064px;
  height: 138px;
  top: 925px;
  left: 376px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  background-color: #FFFFFF;
  font-family: Roboto,sans-serif;
  color: #545454;
}


/* Other selectors */


/* Sidebar other selectors */

.sidebar-title-01 {
  position: absolute;
  width: 86px;
  padding-bottom: 21px;
  top: 146px;
  left: 45px;
  border-bottom: 5px solid #AACE9B;
  font-size: 24px;
  color: #000000;
}

#sidenav-01 {
  position: absolute;
  width: 331px;
  height: 142px;
  top: 240px;
  left: 45px;
  font-size: 18px;
  line-height: 21px;
}

.li-01-01 {
  width: 200px;
  height: 25px;
  padding-top: 33px;
  top: 0px; 
  left: 0px;
  border-bottom: 1px solid #A4A4A4;
}

.li-01-02 {
  width: 200px;
  height: 25px;
  padding-top: 33px;
  padding-bottom: 73px;
  top: 0px; 
  left: 0px;
  border-bottom: 1px solid #A4A4A4;
}

.sidebar-title-02 {
  position: absolute;
  width: 180px;
  padding-bottom: 21px;
  top: 517px;
  left: 45px;
  border-bottom: 5px solid #AACE9B;
  font-size: 24px;
  color: #000000;
}

#sidebar-p {
  position: absolute;
  width: 280px;
  height: 147;  
  top: 589px;
  left: 34px;
  font-size: 18px;
  line-height: 21px;
}

#sidenav-02 {
  position: absolute;
  width: 331px;
  height: 186px;
  top: 766px;
  left: 45px;
  font-size: 18px;
  line-height: 21px;
}

.li-02-01 {
  width: 280px;
  padding-top: 22px;
  padding-left: 11px;
  padding-bottom: 18px;
  top: 0px;
  left: 34px;
  border-bottom: 1px solid #A4A4A4;
}

.li-02-02 {
  width: 280px;
  padding-top: 22px;
  padding-left: 11px;
  top: 0px;
  left: 34px;
}

.sidenav-02 p {
  width: 221px;
  padding-left: 14px;
}

.block-01 {
 display: inline-block;
}

.block-02 {
 display: inline-block;
}

.block-03 {
 display: inline-block;
}

/* header other selectors */

#hamburger {
  position: relative;
  width: 36px;
  height: 33px;
  top: 40px; 
  left: 33px;
}

.header-title {
  position: relative;
  width: 868px;
  height: 37px;
  padding-bottom: 23px;
  top: 28px;
  left: 122px;
  bottom: 44px;
  border-bottom: 3px solid #AACE9B;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  line-height: 35px;
}

/* body other selectors */

/* Body section-01-Welcome */

#welcome h1 {
  position: absolute;
  width: 413px;
  height: 236px;
  top: 10px;
  left: 15px;
  font-size: 64px;
  line-height: 96px;
  font-weight: 700;

}

#welcome img {
  position: absolute;
  top: 21px;
  left: 573px;
  right: 21px;
}

#welcome  h2 {
  position: absolute;
  width: 426px;
  height: 84px;
  top: 289px;
  left: 24px;
  font-size: 28px;
  line-height: 42px;
  font-style: italic;
}

#welcome p {
  position: absolute;
  width: 557px;
  height: 180px;
  top: 449px;
  left: 16px;
  font-size: 24px;
  line-height: 36px;
}

#welcome button {
  position: absolute;
  width: 144px;
  height: 51px;
  top: 638px;
  left: 16px;
  background-color: #AACE9B;
  border: 1px solid #373867;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
}

/* Body section-02-What? */

#what-can-you-do h2 {
  position: absolute;
  width: 868px;
  height: 55px;
  padding-bottom: 23px;
  top: 693px;
  left: 122px;
  border-bottom: 5px solid #AACE9B;
  font-size: 48px;
  line-height: 72px;
}

#record-hours img {
  position: absolute;
  top: 840px;
  left: 5px;
}

#record-hours h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 840px;
  left: 224px;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
#record-hours p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 880px;
  left: 224px;
  font-size: 28px;
  line-height: 42px;
}

#generate-reports img {
  position: absolute;
  top: 840px;
  left: 529px;
}

#generate-reports h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 840px;
  left: 751px;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
#generate-reports p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 880px;
  left: 751px;
  font-size: 28px;
  line-height: 42px;
}

#manage-resources img {
  position: absolute;
  top: 1174px;
  left: 5px;
}

#manage-resources h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 1174px;
  left: 224px;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
#manage-resources p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 1214px;
  left: 224px;
  font-size: 28px;
  line-height: 42px;
}

#designate-roles img {
  position: absolute;
  top: 1174px;
  left: 529px;
}

#designate-roles h3{
  position: absolute;
  width: 303px;
  height: 40px;
  top: 1174px;
  left: 751px;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
#designate-roles p{
  position: absolute;
  width: 303px;
  height: 167px;
  top: 1214px;
  left: 751px;
  font-size: 28px;
  line-height: 42px;
}

/* Body section-03-Why? */

#why-trackgenix h2 {
  position: absolute;
  width: 868px;
  height: 55px;
  padding-bottom: 23px;
  top: 1593px;
  left: 122px;
  border-bottom: 5px solid #AACE9B;
  font-size: 48px;
  line-height: 72px;
}

#why-trackgenix ul {
  position: absolute;
  width: 868px;
  height: 55px;
  top: 1740px;
  left: 122px;
  font-size: 28px;
  line-height: 42px;
}

#why-trackgenix li {
  height: 50px;
  padding-bottom: 30px;
}

/* Body section-04-Contact */

#contact-form h2 {
  position: absolute;
  width: 868px;
  height: 55px;
  padding-bottom: 23px;
  top: 2063px;
  left: 122px;
  border-bottom: 5px solid #AACE9B;
  font-size: 48px;
  line-height: 72px;
}
#contact-form p{
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 21px;
}

.label-01, .label-02, .label-03 , .label-04 {
  width: 210px;
  height: 21px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
}

.label-01 {
  position: absolute;
  top: 2279px;
  left: 133px;
}
.label-02 {
  position: absolute;
  top: 2279px;
  left: 584px;
}

.label-03 {
  position: absolute;
  top: 2416px;
  left: 584px;
}
.label-04 {
  position: absolute;
  top: 2546px;
  left: 133px;
}

.form-03 p {
  position: absolute;
  width: 210px;
  height: 21px;
  top: 2380px;
  left: 133px;
}

.form-03 label {
  padding-left: 20px;
}

.form-03 ul {
  position: absolute;
  width: 220px;
  height: 100px;
  top: 2423px;
  left: 133px;
}

.form-03 li {
  width: 218px;
  height: 19px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

#bname, #email, #pnumber {
  width: 395px;
  height: 49px;
}

#bname {
  position: absolute;
  top: 2305px;
  left: 133px;
}
#email {
  position: absolute;
  top: 2305px;
  left: 584px;
}

#pnumber {
  position: absolute;
  top: 2441px;
  left: 584px;
}

#contact-msg {
  position: absolute;
  top: 2567px;
  left: 133px;
  width: 848px;
  height: 126px;
}

.form-button {
  position: absolute;
  width: 179px;
  height: 41px;
  top: 2725px;
  left: 757px;
  background-color: #74C3A0;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/* Body section-05-History */

#round-background {
  position: absolute;
  width: 1054px;
  height: 604px;
  top: 2873px;
  left: 5px;
  background-color: #D9E0D6;
  border-radius: 50%;
}

#round-background h2{
  font-size: 30px;
  line-height: 45px;
  color: #756464;
}

.history-title-01 {
  position: absolute;
  top: 164px;
  left: 240px;
}

.history-title-02 {
  position: absolute;
  top: 209px;
  left: 350px;
}

.objective-title {
  position: absolute;
  top: 401px;
  left: 555px;
}

#round-background p {
  font-size: 10px;
  line-height: 15px;
}

.p-01 {
  position: absolute;
  width: 300px;
  height: 60px;
  top: 273px;
  left: 220px;
}

.p-02 {
  position: absolute;
  width: 208px;
  height: 60px;
  top: 460px;
  left: 555px;
}

.img-bo {
  position: absolute;
  top: 167px;
  left: 520px;
}

#white-line-01 {
  position: absolute;
  width: 4px;
  height: 134px;
  top: 33px;
  left: 527px;
  background-color: #FFFFFF;
}

#white-line-02 {
  position: absolute;
  width: 4px;
  height: 207px;
  bottom: 33px;
  left: 527px;
  background-color: #FFFFFF;
}

.img-ds {
  position: absolute;
  top: 423px;
  left: 302px;
}

.img-ei {
  position: absolute;
  top: 423px;
  left: 427px;
} 

/* Body section-06-PBS */

#products-business-support {
  position: absolute;
  width: 1043px;
  height: 689px;
  left: 15px;
  top: 3477px;
}

#products-business-support h2 {
  width: 268px;
  border-bottom: 5px solid #AACE9B;
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
}

#products-business-support ol {
  padding-left: 45px;
  list-style-type: numbers;
}

#products-business-support li {
  padding-top: 27px;
  font-size: 18px;
  line-height: 27px;
}

#products {
  position: absolute;
  width: 342;
  top: 108px;
  left: 0px;
}

#business {
  position: absolute;
  width: 342;
  top: 108px;
  left: 342px;
}

#support {
  position: absolute;
  width: 342;
  top: 108px;
  left: 684px;
}

/* footer other selectors */

.location {
  position: relative;
  width: 136px;
  height: 19px;
  left: 122px;
  bottom: -33px;
  padding-top: 7px;
  padding-left: 289px;
  padding-right: 444px;
  border-top: 3px solid #AACE9B;
}

#footernav {
  position: relative;
  height: 24px;
  left: 378px;
  bottom: -43px;
}

#footernav a{
  padding-right: 28px;
}

#copyright {
  position: relative;
  height: 17px;
  left: 295px;
  bottom: -53px;
}