
body {
	position: fixed;
	display: flex;
	margin: 0;
	width: 100%;
	height: 100vh;
}

#main-flex {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

@media only screen and (min-width: 768px) {
	#main-flex {
	 width: 66%;
   }
 }


main {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	box-sizing: border-box;
	overflow: auto;
	margin: 0px;
	padding: 0px 17px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

h2 {
	box-sizing: border-box;
	padding-right: 10px;
	border-bottom: 5px solid #AACE9B;
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;
	color: #373867;
}


p {
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	color: #373867;						

}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1;
}


#section-01-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#section-01-title div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


#section-01 h1 {
	text-align: center;
	font family: Poppins;
	font style: 700;
	font size: 30px;
	line height: 45px;
	color: #373867;
}


#section-01 h2 {
	align-self: center;
	border: none;
	font family: Poppins;
	font style: Italic;
	font-weight: 400;
	font size: 28px;
	line height: 42px;
	color: #373867;
}

#section-01 img {
	width: 145px;
}

#section-01 button {
	align-self: flex-start;
	width: 168px;
	height: 49px;
	background-color: #AACE9B;
	border: 1px solid #373867;
	border-radius: 5px;
	font-size: 13px;
	color: #373867;
	text-transform: uppercase;
}



#section-02 {
	align-content: center;
}

 #section-02 h2 {
	width: 250px;
}

@media only screen and (max-width: 768px) {
#section-02 img {
	width: 208px;
	height: 237px;
	}
}

@media only screen and (min-width: 768px) {
#section-02 img {
	width: 180px;
	height: 202px;
	}
}

@media only screen and (max-width: 768px) {
#section-02 div {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
}

@media only screen and (min-width: 768px) {
#section-02 div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	}
}

#section-02 h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	color: #373867;
	font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
#section-02 p {
	text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	#section-02 p {
	text-align: center;ç
	width: 300px;
	}
}



#section-03 {
	align-content: flex-start;
}

#section-03 h2 {
	width: 305px;
}

#section-03 ul {
	list-style: none ;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #373867;
}

#section-03 li {
	padding-bottom: 23px;
}

#section-03 li:before {
	content: "\2714\0020";
	padding-right: 35px;
}




#section-04 {
	align-content: flex-start;
}

#section-04 h2 {
	width: 193px;
}

#section-04 form {
	box-sizing: border-box;
	padding: 0px  28px ;	
	background-color: #D9E0D6;
}

#section-04 div	{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding-top: 23px;
}

.label-form{
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #000000;
}

#section-04 ul {
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	list-style: none;
}

#section-04 textarea {
	height: 110px;
}

.button-container {
	align-items: center;
}

.form-button { 
	width: 95px;
	height: 41px;
	background-color: #AACE9B;
	border-radius: 5px;
	border: 1px solid #373867;
	box-sizing: border-box;
	border-radius: px;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	color: #373867;
	text-transform: uppercase;
}

#trackhis{
	width: 266px;
}

#obj {
	width: 152px;
}

	
#section-06 {
	display: flex;
	flex-direction: column;
}
#section-06 h2{
	width: 152px;
}
@media only screen and (max-width: 768px) {
#section-06 div {
	display: flex;
	flex-direction: column;
	}
}

@media only screen and (min-width: 768px) {
	#section-06 div {
	display: flex;
	flex-direction: column;
	}
}

#section-06 ol {
	list-style:  none;
	counter-reset: li;
}

#section-06 li:before {
	content: counter(li); 
	color: #373867;
	display: inline-block; 
	width: 1em;
	margin-left: -1em
}

#section-06 li {
	align-items: flex-start;
	padding-bottom: 25px;
	counter-increment: li
}



#section-06 a {
	text-decoration: none;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	color: #373867;

}
