
header {
	display: flex;

	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
	border-bottom: 5px solid #AACE9B;
	width: 100%;
	min-height: 75px;
	height: 9vh;
	background-color: #EDEDED;
	font-family: 'Poppins', sans-serif;
}

header h2 {
	font-size: 40px;
	font-weight: 700;
	padding-left: 17px;
	color: #373867;
}

header div{
}